/*-----------

Theme Name: U-Listing
Description: U-Listing Directory - Listing Html Template
Version: 1.0.8

------------*/

@charset "UTF-8";

/*Bootstrap Css*/
@import url("bootstrap-grid.css");
@import url("bootstrap.css");

/*Icons*/
@import url("icons.css");

/*Revolutionslider Css*/
@import url("revolutionslider.css");

/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,600i,700,800&subset=latin-ext');


/*==========
  Typography
============*/

body {
	color: #222222;
	font-size: 15px;
	line-height: 28px;
	background-color: #fff;
}
body p {
	font-size: 16px;
	line-height: 30px;
	font-weight:400;
}
#main_wrapper {
	background-color: #fff;
}
body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, #tiptip_content, .map-box p, .map-box div, .numerical-rating .utf_counter_star_rating, body .nav_responsive i.menu-trigger:after {
	font-family:'Nunito', sans-serif;
	text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #242424;
}
h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
	color: #fff;
}
h2.headline_part, h3.headline_part {
	font-size: 30px;
	line-height: 40px;
	margin: 0 0 30px 0;
	font-weight: 700;
}
h2.headline_part span {
	font-size: 20px;
	line-height: 30px;
}
input, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	outline: none;
	font-size: 15px;
	color: #808080;
	margin: 0 0 16px 0;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.03);
	font-weight: 400;
	opacity: 1;
	border-radius: 4px;
}
select {
	padding: 15px 18px;
	cursor: pointer;
}
.main_input_search_part_item .utf_chosen_select{
	background:#fff;
	border:0 #fff;
}
input {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
input:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus {
	color: #808080;
	transition: box-shadow 0.2s!important;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
	border: 1px solid #d8d8d8;
	opacity: 1;
}
input[type="submit"] {
	border: none;
	padding: 11px 18px;
	width: auto;
}
input[type="checkbox"] {
	display: inline;
}
input[type="radio"] {
	width: 15px;
	height: 15px;
	cursor: pointer;
	box-shadow: none;
}
::-webkit-input-placeholder {
color:#888;
opacity:1;
}
:-moz-placeholder {
color:#888;
opacity:1;
}
::-moz-placeholder {
color:#888;
opacity:1;
}
:-ms-input-placeholder {
color:#888;
opacity:1;
}
textarea {
	height: auto;
	line-height: 24px;
	padding: 15px;
	min-height: 130px;
	transition: none!important;
	min-width: 100%;
}
label, legend {
	display: block;
	font-weight: bold;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 8px;
	font-weight:400;
}
label span, legend span {
	font-weight: normal;
	font-size: 14px;
	color: #444;
}
fieldset {
	padding: 0;
	border: none;
}
mark.color{
	background-color:#ff7600;
}
a, button {
	outline: none!important;
	cursor: pointer !important;
}
a:focus, a:hover {
	text-decoration: none;
	color: #ff7700a6;
	cursor: pointer
}
img {
	max-width: 100%;
}

/*==========
 
============*/

.mapBox{
	height: 100vh;
}

.mapBox_left{
	height:100vh !important;
	overflow-y: scroll !important;
	scroll-behavior: auto !important;
	display: block !important;
}





/*==========
  Main Inner Search Block
============*/
.main_inner_search_block {
	background-image: url(../images/map-street.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 30px;
}

.main_input_search_part {
	border-radius: 4px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 4px;
	border:3px solid rgba(0, 0, 0, 0.12);
	max-height: 70px;	
}

.main_input_search_part_item {
	flex: 1;
	border-right:1px solid rgba(0, 0, 0, 0.10);
	margin-top: 2px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

.main_input_search_part input, .main_input_search_part input:focus {
	font-size: 16px;
	border: none;
	background: #fff;
	margin: 0;
	padding: 0;
	height: 44px;
	line-height: 44px;
	box-shadow: none;
}
.main_input_search_part button.button {
	font-size: 13px;
	border: none;
	background-color: #ff7600;
	font-weight: 400;
	padding: 0 20px;
	margin-right: 1px;
	height: 45px;
	outline: none;
}

.category-box{
	padding:4px
}

.category-box ul li {
	display: inline-block;
	margin: 3px;
	margin-right:8px;
}

.category-box ul li a{
	color: #ff7600;
	transition:all .4s;
}

.category-box ul li a:hover{
	color: #c9752cc7;
}

.category_small_box_one,.category_small_box_two, .category_small_box_three, .category_small_box_four {
	height:60px;
	width:60px;
	margin: auto;
	border:0px solid rgba(255, 255, 255, 0.5);
	border-radius:50%;
}

.category_small_box_one{
	background:#1966b6;
}

.category_small_box_two{
	background:#b61919;
}
.category_small_box_three{
	background:#b67f19;
}

.category_small_box_four{
	background:#65b619;
}

.cat-img{
	background-color: #cecdcd;
	border: 1px solid #65b619;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.dvider-bar{
	height:5px;
	width:60%;
	background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	margin: auto;
	border-radius:7px
}

.spons{
	color:#ff7600;
}

.spons-ville{
	color:rgba(255,0,255,0.9);
	font-size: 23px;
}

.destination, .destination-spon{
	height: 110px;
	width:95%;
	border-radius:7px;
	margin:auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.destination-val{
	width:95%;
	border-radius:7px;
	margin:auto;
	padding:30px 5px ;
	background: linear-gradient(rgba(8, 8, 8, 0.692), rgba(0, 0, 0, 0.52)),url('../images/utf_listing_item-04\ \(1\).jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.destination-val h4{
	color: #000;
	font-size: 18px;
	margin: 0;
	font-weight:bold;
	text-align: center;
}

.destination{
	background-image:url('../images/shops.jpg');
}

.destination-spon{
	background-image:url('../images/night.jpg');
}
.suggest{
	background-color: rgba(5, 5, 5, 0.233);
	padding:7px;
	border-radius:7px;
	color: rgb(31, 30, 30);
	font-weight: bold;
}

.suggest-back_color-one{
	background-color: rgba(212, 205, 124, 0.767); 
}

.suggest-back_color-two{
	background-color: rgba(127, 171, 207, 0.842); 
}

.suggest-back_color-three{
	background-color: rgba(196, 124, 124, 0.856); 
}

.suggest-back_color-four{
	background-color: rgba(165, 204, 139, 0.836); 
}


/**************  Boutiques  ***************/

.boutCard{
	border-top: .2px solid #ccc;
	border-bottom: .2px solid #ccc;
	padding:15px;
}

.boutCard:hover{
	background-color:rgb(235, 233, 233)
}

.descript{
	display:flex;
}

.descript p{
	color:rgb(124, 124, 124);
	font-size:14px
}

.descript-img{
	margin: 3px;
	display:flex;
	justify-content:center;
	align-items:center;
	height:70px;
	width:20rem;
	padding:7px;
	border: .5px solid rgb(134, 133, 133);
	border-radius:7px;
}

.descript-img img{
	margin: auto;
}

.boutTitle{
	font-weight: bold;
	font-size:20px;
	text-transform: capitalize;
	
}

.btn-principal{
	background-color: #b67f19;
	padding: 10px 30px;
	color: #fff;
	transition: all .3s;
}

.btn-principal:hover{
	color: #fff;
	transition: all .3s;
	background-color: #8b6112;
}

.btn-second{
	background-color: rgb(224, 224, 224);
	transition: all .3s;
}

.btn-second:hover{
	background-color: #d4c9b5;
}

.dirct li{
	display: inline;
	margin: 3px
}



.footer{
	padding:7px;
	background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.747)),url('../images/popular-location-03.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:#222121;
	font-size:13px;
	
}

#mapmobile{
	display:none;
}

.back_gray{
	background-color: #d6d6d641;
	border-radius: 7px;
}

.service_box{
	text-align: center;
	min-height: 5rem;
    margin-top: 30px;
    position: relative;
    background: #fff;
    padding:20px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
	border-radius:10px;
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #ff7600 !important;
}

.PrivateTabIndicator-colorPrimary-3 {
    background-color: #ff7600 !important;
}

@media screen and (max-width:767px){
	#mapbox{
		display:none;
	}
	#mapmobile{
		display:block
	}
}

@media (min-width: 600px){
	.MuiTab-root {
     min-width: 30px !important;
}
}

